@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Roboto Condensed" sans-serif;
}
/* Navbar */

.logo {
  width: 3.25rem;
}

.navbar {
  position: sticky;
}

/* Menu links */
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 i !important;
  /* height: 6rem !important; */
}

/* .navbar-nav > li > a.active, .navbar-nav > li > a.active:focus { */
.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  /* border-top: .1875rem solid var(--primary-white); */
  border-bottom: 0.1875rem solid var(--primary-white);
}

.navbar-nav > li > a:hover {
  /* border-top: .1875rem solid var(--primary-white); */
  border-top: 0.1875rem solid var(--primary-white);
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.342);
}

/* Header */

.header-wrapper {
  position: relative;
  background: url(./images/HeaderLogo.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 25rem;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.main-info h1 {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
}

/* Header main offer */
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-wrapper {
  position: relative;
  /* background: url(./images/HeaderLogo.png) no-repeat; */
  background-color: #092a47;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

/* PROJECT */

/* .slides {
  display: grid;

}
.slide {
  grid-area: 1/-1;
  width:30vw;
  height: 40vw;
  border: 5px solid;
  background-size: cover;
  background-position:center center ;

  transform: 
  translateX(calc(100% * var(--offset)))
  rotateY(calc(-45deg * var(--dir)));

  transition: transform 0.5s ease-in-out;
}

.slide[data-active]:hover {
  border-color: red;
  color: red;
  --x:calc(var(--px)- .5);

  transform: 
  rotateX(calc(var(--x)*45de));


  transform: 
  rotateX(calc(var(--x) * 45deg));
} */

/* ||||||||||||||||||||||||||CSS||||||||||||||||||||||||||||| */

