@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
 --primary-white: #fff; 
}

body {
  font-family: "Roboto Condensed" sans-serif;
}
/* Navbar */

.logo{
  width: 3.25rem;
}

/* Menu links */
nav a.nav-link {
  letter-spacing: .0375rem;
  cursor: pointer;

}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: .75rem;
  margin-left: .75rem;
  color: var(--primary-white) !important;
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 i !important;
  /* height: 6rem !important; */
}

/* .navbar-nav > li > a.active, .navbar-nav > li > a.active:focus { */
.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  /* border-top: .1875rem solid var(--primary-white); */
  border-bottom: .1875rem solid var(--primary-white);
}

.navbar-nav > li > a:hover {
  /* border-top: .1875rem solid var(--primary-white); */
  border-top: .1875rem solid var(--primary-white);
}
.btn:hover {
background-color: rgba(255, 255, 255, 0.342);
}
